.contenedor {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div{
    background-color: black;
}

.imagen {
    border: 0;
    max-height: 18%;
    max-width: 18%;
  }
.logo {
    width: 180px;
  
    @media (max-width: 560px) {
      width: 30%;
      height: 110px;
    }
  }
.logo2 {
    width: 200px;
  
    @media (max-width: 560px) {
      width: 50%;
      height: 180px;
    }
  }
.slogan{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: fantasy;
    font-size: 30px;  
}
.boton {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    background-color: #00ff6f;
    border-color: #00ff6f;
    border-radius: 400px;
    min-width: 300px;
  }
  .boton2 {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    background-color: #00ff6f;
    border-color: #00ff6f;
    border-radius: 400px;
    min-width: 200px;
  }


.atras {
    position: absolute;
    top: 10px;
    left: 20px;
  }