div{
    background-color: black;
}
.atras{
background-color: black;
}
.logo2{
    position: static;
   justify-content: center;
   display: flex;
   border: 0;
   height: 100px;
   width: 1500px;
}
.slogan2{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: fantasy;
    font-size: 25px;
}
.btn1 {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    background-color: #00ff6f;
	border-color: #00ff6f;
    border-radius: 400px;
}
.form{
    width: 800%;
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.casilla{
    justify-content: left;
    width: 150%;
    color: #ffffff;
    background: ffffff;
    background-color: #ffffff;
	border-color: #ffffff;
    border-radius: 250px;
    padding: 10px;
}
.muted{
    color: #ffffff;
}
.botonoesFG{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:center;
}
.imagen{
  width: 375px;
  height: 50px;
}