div{
    background-color: black;
}
.logo{
    border: 0;
    max-height: 50%;
    max-width: 25%
}

.imagen{
    border: 0;
    max-height: 18%;
    max-width: 18%;
}
.header{
    display: flex;
 justify-content: center;
 background: black;
}

.boton {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    color: #ffffff;
    font-size: 32px;
    padding: 10px;
    background-color: #00ff6f;
	border-color: #00ff6f;
    border-radius: 400px;
    
}
.slogan{
    display: flex;
 justify-content: center;
 color: rgb(255, 255, 255);
 font-family: fantasy;
 font-size: 50px;
}