.contenedor {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen {
  border: 0;
  max-height: 18%;
  max-width: 18%;
}

.logo {
  width: 300px;

  @media (max-width: 560px) {
    width: 60%;
    height: 150px;
  }
}

// .logo{
//   background-color: red;
//   width: 1900px;
//   height: 900px;
// }

.boton {
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
  background-color: #00ff6f;
  border-color: #00ff6f;
  border-radius: 400px;
  min-width: 300px;
}
.slogan {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: fantasy;
  font-size: 50px;
}
